$colorMainBlue: #325266;
$colorMainDarkblue: #0c1f2d;
$colorBlue: #004d87;
$colorLightblue: #0f82d8;
$colorUltralightblue: #199ff2;
$colorDarkblue: #173a58;
$colorLight: #dcecf7;
$colorUltralight: #eef9ff;

@import "main";
@import "colores";
@import "sideMenu";
@import "header";
@import "mouse";
@import "home";
@import "portfolio";
@import "productos";
@import "escuela";
@import "contacto";
@import "newsletter";
@import "footer";
