body {
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8;
  color: #325266;
  background: #0c1f2d; }

a:hover.button.bkg-hover-lightblue {
  background-color: #199ff2;
  border-color: #199ff2; }

a:hover.bkg-hover-blue {
  background-color: #004d87;
  border-color: #004d87; }

a:hover.bkg-hover-lightblue {
  background-color: #199ff2;
  border-color: #199ff2; }

a:hover.bkg-hover-darkblue {
  background-color: #173a58;
  border-color: #173a58; }

h2 {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase; }

h3 {
  font-size: 3rem;
  font-weight: 700; }

.wrapper-inner {
  filter: none;
  transition: 350ms ease-in-out; }

.section-block {
  padding-top: 11rem;
  padding-bottom: 11rem; }

.lead {
  font-size: 2rem;
  font-weight: 300; }

.button {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600; }

.bkg-light {
  background-color: #eef9ff;
  border-color: #eef9ff; }

.bkg-blue {
  background-color: #004d87;
  border-color: #004d87; }

.bkg-lightblue {
  background-color: #199ff2;
  border-color: #199ff2; }

.bkg-darkblue {
  background-color: #173a58;
  border-color: #173a58; }

.border-blue {
  border-color: #004d87; }

.border-lightblue {
  border-color: #199ff2; }

.border-darkblue {
  border-color: #173a58; }

.color-blue {
  color: #004d87; }

.color-lightblue {
  color: #199ff2; }

.color-darkblue {
  color: #173a58; }

.side-navigation-wrapper {
  background: transparent;
  box-shadow: none !important; }
  .side-navigation-wrapper .navigation-hide {
    color: #325266;
    margin-right: 2rem; }

.side-navigation-header {
  border: none; }

.navigation-hide {
  width: 4.4rem;
  height: 4.4rem;
  margin-top: 1.9rem; }
  .navigation-hide a {
    background: none; }
    .navigation-hide a span {
      width: 4.4rem; }

.side-navigation > ul > li > a {
  padding: 0.6rem 4rem;
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #888;
  position: relative; }
  .side-navigation > ul > li > a:after {
    width: 0;
    height: 0.1rem;
    margin-left: 0;
    content: "";
    background-color: #fff;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 1rem;
    transition-property: width, opacity;
    transition-duration: 500ms; }

.header .header-inner {
  height: 8rem;
  background: rgba(0, 77, 135, 0.8);
  border-bottom: none;
  box-shadow: 0px 4px 15px rgba(23, 58, 88, 0.3);
  backdrop-filter: blur(15px); }

.header .logo {
  width: 20rem;
  height: 8rem; }
  .header .logo a {
    display: block !important;
    position: absolute;
    top: 0; }

.header .header-inner .navigation > ul > li,
.header .header-inner .navigation > ul > li > a:not(.button) {
  height: 6rem; }

.header .navigation > ul > li > a {
  margin: 0 1.5rem;
  padding-left: 0;
  padding-right: 0;
  color: #fff;
  opacity: .5;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem; }
  .header .navigation > ul > li > a:hover {
    color: #fff;
    opacity: 1; }

.header .navigation > ul > li.current > a {
  color: #fff;
  opacity: 1; }
  .header .navigation > ul > li.current > a:hover {
    border-color: #fff; }

.header .navigation .navigation-show.nav-icon {
  font-size: 3rem; }

@media only screen and (max-width: 960px) {
  .header,
  .header .header-inner {
    height: unset !important; }
  .header
.navigation .nav-icon {
    color: #fff;
    opacity: .5; }
  .header .navigation .nav-icon:hover {
    opacity: 1; } }

a#mouse {
  display: block;
  font-size: 1rem;
  margin: 0 1.5rem;
  padding: 10px 10px 10px 40px;
  color: #fff;
  opacity: .5;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem; }
  a#mouse:hover#mouse {
    color: #fff;
    opacity: 1; }
  a#mouse::before {
    display: block;
    position: absolute;
    top: 91vh;
    left: calc(50vw - 12px);
    width: 24px;
    height: 40px;
    border: 2px solid white;
    border-radius: 12px;
    content: "";
    box-sizing: border-box; }
  a#mouse::after {
    display: block;
    position: absolute;
    top: calc(91vh + 10px);
    left: calc(50vw - 1px);
    width: 2px;
    height: 8px;
    background: white;
    border-radius: 1px;
    content: "";
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    box-sizing: border-box; }

@keyframes scroll {
  0% {
    opacity: 1;
    height: 8px; }
  20% {
    opacity: 1;
    height: 8px; }
  30% {
    transform: translateY(0);
    opacity: 1;
    height: 19px; }
  40% {
    opacity: 1; }
  80% {
    transform: translateY(19px);
    opacity: 0;
    height: 0; }
  81% {
    transform: translateY(0);
    opacity: 0;
    height: 8px; }
  100% {
    opacity: 1;
    height: 8px; } }

#home {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  background: url(../img/home.jpg);
  background-size: cover;
  background-position: center center; }
  #home h1 {
    margin: 0;
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
    color: #199ff2;
    text-shadow: 2px 2px 1px #173a58; }
  #home p {
    margin: 15px 0 0 0;
    font-size: 24px;
    color: #fff; }

#intro img {
  width: 90%; }

@media only screen and (max-width: 960px) {
  #home h1 {
    font-size: 50px;
    text-align: center; }
  #home p {
    font-size: 20px;
    text-align: center; }
  #intro img {
    width: 100%; } }

#portfolio .full-width {
  width: 90% !important;
  margin-left: 5%; }

.overlay-info > span > span {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff; }

.overlay-info .project-description {
  font-size: 1.5rem;
  opacity: 0.7;
  text-transform: none;
  font-weight: 400;
  font-style: italic; }

.grid-container .thumbnail {
  cursor: pointer; }

@media only screen and (max-width: 960px) {
  #portfolio .full-width {
    width: 100% !important;
    margin-left: 0; } }

@media only screen and (max-width: 1140px) {
  #productos .content-grid-4 .grid-item.large {
    height: 33.3333vw !important; } }

@media only screen and (max-width: 960px) {
  #productos .content-grid-4 .grid-item.large {
    height: 33.33333vw !important; } }

@media only screen and (max-width: 768px) {
  #productos {
    height: 150vw; }
    #productos .content-grid-4 .grid-item.large {
      height: 50vw !important; } }

.pricing-table.style-2 .pricing-table-header h2 {
  font-size: 1.8rem; }

@media only screen and (max-width: 960px) {
  .pricing-table.columns-3 .pricing-table-column {
    width: 100%;
    margin-bottom: 10px; } }

.field-wrapper {
  position: relative;
  overflow: hidden; }

.form-element,
textarea {
  margin-bottom: 3rem;
  background-color: #fff;
  border: 1px solid #dcecf7;
  color: #325266;
  font-size: 1.3rem;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0.1rem; }

textarea {
  font-family: 'Rubik', sans-serif;
  min-height: 15rem; }

#newsletter {
  background-image: url(../img/newsletter.jpg); }

.footer {
  width: 100%;
  background: #fff;
  color: #325266;
  z-index: 1; }
  .footer .widget {
    font-size: 1.3rem;
    color: #999;
    text-transform: none;
    font-style: normal; }
    .footer .widget img {
      max-height: 6rem; }
    .footer .widget li {
      padding-top: 0;
      border: none;
      border-color: #eee; }
  .footer .social-list li {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700; }
  .footer .social-list a {
    color: #325266;
    letter-spacing: 0.1rem; }
    .footer .social-list a:hover {
      color: #199ff2; }
  .footer .footer-top {
    padding-top: 9rem;
    padding-bottom: 1rem; }
  .footer .footer-bottom-inner {
    border-color: #ccc; }
