$colorMainBlue: #325266;
$colorMainDarkblue: #0c1f2d;
$colorBlue: #004d87;
$colorLightblue: #0f82d8;
$colorDarkblue: #173a58;
$colorLight: #eef9ff;

.color-blue {
	color: $colorBlue;
}
.color-lightblue {
	color: $colorLightblue;
}
.color-darkblue {
	color: $colorDarkblue
}
.bkg-light {
    background-color: $colorLight;
    border-color: $colorLight;
}
.bkg-blue {
    background-color: $colorBlue;
    border-color: $colorBlue;
}
.bkg-lightblue {
    background-color: $colorLightblue;
    border-color: $colorLightblue;
}
.bkg-darkblue {
    background-color: $colorDarkblue;
    border-color: $colorDarkblue;
}
.border-blue {
    border-color: $colorBlue;
}
.border-lightblue {
    border-color: $colorLightblue;
}
.border-darkblue {
    border-color: $colorDarkblue
}
