.bkg-light {
    background-color: $colorUltralight;
    border-color: $colorUltralight;
}
.bkg-blue {
    background-color: $colorBlue;
    border-color: $colorBlue;
}
.bkg-lightblue {
    background-color: $colorUltralightblue;
    border-color: $colorUltralightblue;
}
.bkg-darkblue {
    background-color: $colorDarkblue;
    border-color: $colorDarkblue;
}
.border-blue {
    border-color: $colorBlue;
}
.border-lightblue {
    border-color: $colorUltralightblue;
}
.border-darkblue {
    border-color: $colorDarkblue;
}
.color-blue {
	color: $colorBlue;
}
.color-lightblue {
	color: $colorUltralightblue;
}
.color-darkblue {
	color: $colorDarkblue;
}
