.field-wrapper {
    position: relative;
    overflow: hidden;
}
.form-element,
textarea {
    margin-bottom: 3rem;
    background-color: #fff;
    border: 1px solid $colorLight;
	color: $colorMainBlue;
    font-size: 1.3rem;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0.1rem;
}
textarea {
	font-family: 'Rubik', sans-serif;
    min-height: 15rem;
}
