.pricing-table.style-2 .pricing-table-header h2 {
    font-size: 1.8rem;
}
@media only screen and (max-width: 960px){
	.pricing-table.columns-3 .pricing-table-column {
		width: 100%;
		margin-bottom: 10px;
	}
}
