.footer {
    width: 100%;
    background: #fff;
    color: $colorMainBlue;
    z-index: 1;
    .widget {
        font-size: 1.3rem;
        color: #999;
        text-transform: none;
        font-style: normal;
        img {
            max-height: 6rem;
        }
        li {
            padding-top: 0;
            border: none;
            border-color: #eee;
        }
    }
    .social-list {
        li {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 700;
        }
        a {
            color: $colorMainBlue;
            letter-spacing: 0.1rem;
            &:hover {
                color: $colorUltralightblue;
            }
        }
    }
    .footer-top {
        padding-top: 9rem;
        padding-bottom: 1rem;
    }
    .footer-bottom-inner {
        border-color: #ccc;
    }
}
