#home {
	margin: 0;
	width: 100%;
	height: 100vh;
    display: flex;
    align-items: flex-end;
	background: url(../img/home.jpg);
	background-size: cover;
	background-position: center center;
    h1 {
        margin: 0;
        font-size: 70px;
        font-weight: 700;
        line-height: 1;
        color: #199ff2;
        text-shadow: 2px 2px 1px rgb(23,58,88);
    }
    p {
        margin: 15px 0 0 0;
        font-size: 24px;
        color: #fff;
    }
}
#intro img {
	width: 90%;
}
@media only screen and (max-width: 960px){
	#home {
        h1 {
            font-size: 50px;
            text-align: center;
        }
        p {
            font-size: 20px;
            text-align: center;
        }
    }
    #intro img {
		width: 100%;
	}
}
