body {
	font-family: 'Rubik', sans-serif;
	letter-spacing: 0;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.8;
	color: $colorMainBlue;
	background: $colorMainDarkblue;
}
a {
    &:hover.button.bkg-hover-lightblue {
        background-color: $colorUltralightblue;
        border-color: $colorUltralightblue;
    }
    &:hover.bkg-hover-blue {
        background-color: $colorBlue;
        border-color: $colorBlue;
    }
    &:hover.bkg-hover-lightblue {
        background-color: $colorUltralightblue;
        border-color: $colorUltralightblue;
    }
    &:hover.bkg-hover-darkblue {
        background-color: $colorDarkblue;
        border-color: $colorDarkblue;
    }
}
h2 {
	font-size: 3.5rem;
	font-weight: 700;
	text-transform: uppercase;
}
h3 {
	font-size: 3rem;
	font-weight: 700;
}
.wrapper-inner {
    filter: none;
    transition: 350ms ease-in-out;
}
.section-block {
    padding-top: 11rem;
    padding-bottom: 11rem;
}
.lead {
    font-size: 2rem;
    font-weight: 300;
}
.button {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
}
