.side-navigation-wrapper {
	background: transparent;
	box-shadow: none !important;
    .navigation-hide {
        color: $colorMainBlue;
        margin-right: 2rem;
    }
}
.side-navigation-header {
    border: none;
}
.navigation-hide {
    width: 4.4rem;
    height: 4.4rem;
    margin-top: 1.9rem;
    a {
        background: none;
        span {
            width: 4.4rem;
        }
    }
}
.side-navigation > ul > li > a {
    padding: 0.6rem 4rem;
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #888;
    position: relative;
    &:after {
        width: 0;
        height: 0.1rem;
        margin-left: 0;
        content: "";
        background-color: #fff;
        opacity: 0;
        position: absolute;
        left: 0;
        bottom: 1rem;
        transition-property: width, opacity;
        transition-duration: 500ms;
    }
}
